

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.body {
	color: #FF6721;
	background: url(../img/background-icons.png) repeat;
	background-size: 1250px 665px;
}

.jumbotron h1 {
	background: url(../img/fieldDay-logo.png) no-repeat center;
	width: 80vw;
	height: auto;
	margin: 0 auto;
}














