/*---
Global styles --*/

html { font-size: 0.75em; }

body {
  color: #FF6721;
  background: url(../img/background-icons.png) repeat;
  background-size: 1250px 665px;
  background-attachment:fixed;
  font-family: 'Open Sans', 'futura', 'helvetica', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

section {
  margin-bottom: 10vw;
}

.container {
  max-width: 800px ;
}

a {
  color: #FF6721;
  text-decoration: underline;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 { font-size: 2.827em; }
h3 { font-size: 1.999em; }
h4 { font-size: 1.414em; }
h5 { font-size: 1.214em; letter-spacing: .1em; }

h1, h2, h3, h4, h5 {
  margin: 1.414em 0 1.5em;
  font-weight: inherit;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing:.2em;
}

small, .font_small {font-size: 0.707em;}

p { font-weight: 200; font-size: 1.2em; margin-bottom: 1.5em; line-height: 1.8em; }

.classy {
  font-size: 1.8em; line-height: 1.9em; font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

.button {
  padding: 15px;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.button.black {
  background-color: #4A4A4A;
  color: #fff;
  font-weight: 300; font-size: 1em; letter-spacing: .2em;
  text-transform: uppercase;
}

.button.white {
  background-color: rgba(255,255,255,1);
  color: #2B2B2B;
  font-weight: 300; font-size: 1em; letter-spacing: .2em;
  text-transform: uppercase;
}

.button.black:hover {
  background-color: #2B2B2B;
}

/*---
intro --*/

.intro {
  text-align: center;
  position:relative;
}

.learning-crest {
  width: 250px;
  height: 250px;
  display: block;
  margin-top: 10vw;
  margin-bottom: 5vw;
  margin: 0 auto;
}

.learning-crest img {
  margin: 5vw 0vw 5vw 0vw;
  display: block;
}

.intro h1 {
	background: url(../img/fieldDay-logo.png) no-repeat center;
  background-size: contain;
	width: 60%;
  height: 200px;
  margin: 0 auto;
  display: block;
  margin-top: 5vw;
  margin-bottom: 5vw;
  text-indent: -9999px;
}

.mapbg{
  width: 30%;
  position: absolute;
  bottom:0;
  display: block;
  z-index:100;
}

.map-left {
  left:0vw;
  background:url(../img/map-left.png) no-repeat;
  background-size: cover;
}

.map-right {
  right:-10vw;
  background:url(../img/map-right.png) no-repeat;
  background-size: 750px 1150px;
}

.call-out {
  background: #F6F6F3;
  padding: 5vw 0vw;
  margin: 4vw 0vw 5vw 0vw;
  color: #4A4A4A;
  text-align: center;
  position: relative;
  z-index: 1000;
}

.call-out p {
  margin-bottom: 2em;
}

.header-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  margin-bottom: 2.5vw;
}

#get_involved .container {
  max-width: 1700px;
}

#get_involved .col {
  padding: 0px 60px;
  text-align: center;
  height: 400px;
  transition: all .2s ease-in-out;
}

#get_involved .col:hover {
  transform: scale(1.1);
}

#get_involved .section-header {
  margin-bottom: 5vw;
}

.divider {
  border-left: 2px solid #efefef;
  height: 70%;
  left: 0;
  top: 15%;
  float:left;
}

#get_involved .col:hover .info-chunk {
  color: #2E31E5;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #FF6721;
  border-radius:100px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
  transition: all .3s ease-in-out;
}

#get_involved .col:hover .info-chunk .circle {
  background-color: #2E31E5;
  border-radius:0px;
  transform: rotate(315deg);
}

/*---
Footer styles --*/

footer {
  color: #fff;
  background: #FF6721;
  padding: 10vw;
}

footer .container {
  max-width: 700px;
}

.social-media {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.social-media a {
  width: 50px;
  height: 50px;
  background:url(../img/social-sprite.png) no-repeat;
  background-size: 200px 100px;
  display: inline-block;
  margin: 10px;
  transition: .1s all ease-in-out;
}

a.facebook:hover {
  background-position: 0px -50px;
}

a.twitter {
  background-position: -50px 0px;
}

a.twitter:hover {
  background-position: -50px -50px;
}

a.instagram {
  background-position: -100px 0px;
}

a.instagram:hover {
  background-position: -100px -50px;
}

a.medium {
  background-position: -150px 0px;
}

a.medium:hover {
  background-position: -150px -50px;
}

.fd_flag {
  width: 150px;
  height: 93px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}


/*---
Utility styles --*/

.centered { text-align: center; }

@media (max-width: 991px) {
  #get_involved .col {
    height: 500px;
    padding: 20px 30px;
  }
}

@media (min-width: 768px) {
  .info-chunk {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    transition: all .2s ease-in-out;
  }
}

@media (max-width: 767px) {
  #get_involved .col {
    height: auto;
  }

  h2 { font-size: 2.2em; }
  h3 { font-size: 1.4em; }
  h4 { font-size: 1em; }
  h5 { font-size: .9em; letter-spacing: .1em; }

  .call-out {
    padding: 10vw 0vw;
  }

  .classy {
    font-size: 1.4em;
  }

}







