/*---
Global styles --*/

html { font-size: 0.75em; }

body {
  color: #FF6721;
  background: url(../img/background-icons.png) repeat;
  background-size: 1250px 665px;
  background-attachment:fixed;
  font-family: 'Open Sans', 'futura', 'helvetica', sans-serif;
  font-weight: 400;
  line-height: 1.45;
}

section {
  margin-bottom: 10vw;
}

.container {
  max-width: 800px ;
}

a {
  color: #FF6721;
  text-decoration: underline;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 { font-size: 2.827em; }
h3 { font-size: 1.999em; }
h4 { font-size: 1.414em; }
h5 { font-size: 1.214em; letter-spacing: .1em; }

h1, h2, h3, h4, h5 {
  margin: 1.414em 0 1.5em;
  font-weight: inherit;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing:.2em;
}

small, .font_small {font-size: 0.707em;}

p {
  font-weight: 200;
  font-size: 1.2em;
  margin-bottom: 1.5em;
  line-height: 1.8em;
}

.black {
  color:#2B303B;
}

.classy {
  font-size: 1.8em;
  line-height: 1.9em;
  font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

.button {
  padding: 15px;
  display: inline-block;
  margin: 0 auto;
  text-decoration: none;
  transition: all .2s ease-in-out;
  font-weight: 300; font-size: 1em; letter-spacing: .2em;
  text-transform: uppercase;
}

.button:hover {
  text-decoration: none;
  transform: scale(1.05);
}

.button.black {
  background-color: #4A4A4A;
  color: #fff;
  text-transform: uppercase;
}

.button.white {
  background-color: rgba(255,255,255,1);
  color: #2B2B2B;
}

.button.orange {
  background-color: #FF6721;
  color: #fff;
}

.button.black:hover {
  background-color: #2B2B2B;
}

.button.blue {
  background-color: #2E31E5;
  color: #fff;
}

.button.arrow {
  color: #2E31E5;
}

.button.arrow::after {
  content:"";
  background:url(../img/fd-icons_sprite.png) no-repeat;
  background-size: 400px 200px;
  background-position: -300px 0px;
  width: 100px;
  height:50px;
  display: block;
  margin: 0 auto;
}

.button.arrow:hover {
  background-color: transparent;
}

/*---
intro --*/

.intro {
  text-align: center;
  position:relative;
}

.learning-crest {
  width: 250px;
  height: 250px;
  display: block;
  margin-top: 10vw;
  margin-bottom: 5vw;
  margin: 0 auto;
}

.learning-crest img {
  margin: 5vw 0vw 5vw 0vw;
  display: block;
}

.intro h1 {
	background: url(../img/fieldDay-logo.png) no-repeat center;
  background-size: contain;
	width: 60%;
  height: 200px;
  margin: 0 auto;
  display: block;
  margin-top: 5vw;
  margin-bottom: 5vw;
  text-indent: -9999px;
}

.mapbg{
  width: 30%;
  position: absolute;
  bottom:0;
  display: block;
  z-index:100;
}

.map-left {
  left:0vw;
  background:url(../img/map-left.png) no-repeat;
  background-size: cover;
}

.map-right {
  right:-10vw;
  background:url(../img/map-right.png) no-repeat;
  background-size: 750px 1150px;
}

.call-out {
  background:url(../img/fd-teacherbg.jpg) no-repeat;
  background-size: 100% auto;
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  padding: 5vw 0vw;
  margin: 4vw 0vw 13vw 0vw;
  color: #4A4A4A;
  text-align: center;
  position: relative;
  z-index: 1000;
  transition: all .6s ease-in-out;
  background-position:center;
}

.call-out a {
  margin: 15vw;
}

.call-out.focused {
  -webkit-filter: grayscale(0%);
  filter: none;
}

.call-out p {
  margin-bottom: 2em;
}

.header-icon {
  width: 40px;
  height: 40px;
  margin: 0 auto;
  display: block;
  margin-bottom: 2.5vw;
}

#get_involved {
  color: #2E31E5;
}

#get_involved .icon {
  background:url(../img/fd-icons_sprite.png) no-repeat;
  background-size: 400px 200px;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  background-position: 0px -100px;
}

#get_involved .icon2 {
  background-position: -100px -100px;
}

#get_involved .icon3 {
  background-position: -200px -100px;
}

#get_involved .info-chunk-wrapper {
  padding: 3vw;
}

#get_involved .info-chunk {
  padding: 0px 40px;
  text-align: center;
  transition: all .2s ease-in-out;
  max-width:800px;
  margin: 0 auto;
  border-top: 3px solid;
}

#get_involved .info-chunk:hover {
  top: 52%;
}


#get_involved .info-chunk:hover {
  color: #2E31E5;
}

.info-chunk h5 {
  margin: 0em 0 1.5em;
}

.info-chunk p {
  font-size: 1.1em;
}

.circle {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius:100px;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
  transition: all .3s ease-in-out;
}

#tools {
  height: 30vw;
  display: block;
  width: 100%;
}

#tools a {
  text-decoration: none;
  color: #FF6721;
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  transition: all .3s ease-in-out;
}

#tools a:hover {
  transform: scale(1.05);
  -webkit-filter: grayscale(0%);
  filter: none;
}

.tool-logo{
  background: url(../img/logos-sprite.png);
  background-size: 300px 75px;
  width: 100px;
  height: 75px;
  display: block;
  margin: 0 auto;
  margin-bottom:20px;
}

.tool-logo.two {
  background-position: -100px 0px;
}

.tool-logo.three {
  background-position: -200px 0px;
}

.cta-pair {
  width: 100vw;
  height: 30vw;
}

.article-chunk {
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  height:100%;
  padding-right: 0px;
  padding-left: 0px;
  transition: .4s all ease-in-out;
}

.article-chunk.focused {
  -webkit-filter: grayscale(0%);
  filter: none;
}

.article-chunk p {
  color: #fff;
  font-weight: 700;
}

.article-chunk .content {
  background: rgba( 0, 0, 0, 0.3 );
  width: 100%;
  height: 100%;
}

.article-chunk a {
  padding: 0px 150px;
  display: block;
  text-decoration: none;
}


.article-chunk.one {
  background:url(../img/article_img3.jpg) no-repeat;
  background-size: cover;
}

.article-chunk.two {
  background:url(../img/article_img1.jpg) no-repeat;
  background-size: cover;
}

.article-chunk.three {
  background:url(../img/article_img2.jpg) no-repeat;
  background-size: cover;
}

/*---
Footer styles --*/

footer {
  color: #fff;
  background: #FF6721;
  padding: 10vw;
}

footer .container {
  max-width: 700px;
}

.social-media {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.social-media a {
  width: 50px;
  height: 50px;
  background:url(../img/social-sprite.png) no-repeat;
  background-size: 200px 100px;
  display: inline-block;
  margin: 10px;
  transition: .1s all ease-in-out;
}

a.facebook:hover {
  background-position: 0px -50px;
}

a.twitter {
  background-position: -50px 0px;
}

a.twitter:hover {
  background-position: -50px -50px;
}

a.instagram {
  background-position: -100px 0px;
}

a.instagram:hover {
  background-position: -100px -50px;
}

a.medium {
  background-position: -150px 0px;
}

a.medium:hover {
  background-position: -150px -50px;
}

.fd_flag {
  width: 150px;
  height: 93px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
}

.footer-logos {
  text-align: center;
  width: 100%;
  background: #EA5013;
  padding: 3vw 0vw;
}

.footer-logos ul {
  padding-left:0px;
}

.footer-logos li {
  display: inline;
  bullet-style: none;
  padding: 20px;
}

.footer-logos img {
  width: 120px;
}

/*---
Utility styles --*/

.centered { text-align: center; }

@media (max-width: 991px) {
  .col, .content, .info-chunk, .article-chunk, .info-chunk-wrapper, .cta-pair {
    height: auto;
  }

  .article-chunk a {
    padding: 10vw;
  }

  .info-chunk-wrapper {
    padding: 10vw 5vw 10vw 10vw;
  }

  #get_involved .info-chunk{
    padding: 0px 20px;
  }

  #tools {
    height: auto;
    padding: 30px;
  }
}

@media (max-width: 767px) {


  h2 { font-size: 2.2em; }
  h3 { font-size: 1.4em; }
  h4 { font-size: 1em; }
  h5 { font-size: .9em; letter-spacing: .1em; }

  .call-out {
    padding: 10vw 0vw;
  }

  .classy {
    font-size: 1.4em;
  }

  .learning-crest  {
    width: 150px;
    height: 150px;
  }

  .intro h1 {
    height: 100px;
  }

  .footer-logos {
    padding: 15px 10px 15px 10px;
  }

  .footer-logos img {
  width: 70px;
}

}







